[submodule "ThirdParty/LatencyChecker"]
	path = ThirdParty/LatencyChecker
	url = git@github.com:Incanta/LatencyChecker.git
[submodule "ThirdParty/SocketIOClient"]
	path = ThirdParty/SocketIOClient
	url = git@github.com:RedwoodMMO/SocketIOClient-Unreal.git
