[submodule "ThirdParty/LatencyChecker"]
	path = ThirdParty/LatencyChecker
	url = https://github.com/Incanta/LatencyChecker.git
[submodule "ThirdParty/SocketIOClient"]
	path = ThirdParty/SocketIOClient
	url = https://github.com/RedwoodMMO/SocketIOClient-Unreal.git
